/* css reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dfe3e9 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
